.footer {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 200px 50px 50px 50px;
}

.footer .logo{
    padding-left: 100px;
    font-size: 24px;
    font-weight: bolder;
}